#Header {
  width: 100vw;
  height: 110vh;
  box-sizing: border-box;
  position: relative;
  background-image: -webkit-linear-gradient(#8fccd8, #f7d4a6);
  user-select: none;
}

#bg {
  background-image: -webkit-linear-gradient(#8fccd8, #f7d4a6);
  background-repeat: no-repeat;
  background-attachment: fixed;
  bottom: 0;
  background-position: center;
  background-size: cover;
  height: 110vh;
  width: 100vw;
  z-index: 5;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
.header-text{
  height: 100vh;
  width: 100vw;
  top: -100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  font-size: 7vw;
  z-index: 20;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding-top: 25vh;
  user-select: text;
}
.header-text .text{
  color: white;
  font-family: 'Montserrat', sans-serif;
  vertical-align: middle;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 100%;
  height: 100px;
  background: url(../img/Header/wave.png);
  background-size: 1000px 100px;
  animation: wave 4s ease-in-out infinite;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}
.wave#wave1 {
  z-index: 10;
  opacity: 1;
  background-position-x: 400px;
  animation-delay: 0.25s;
}
.wave#wave2 {
  z-index: 9;
  opacity: 0.5;
  background-position-x: 300px;
  animation-delay: 0.5s;
}
.wave#wave3 {
  z-index: 8;
  opacity: 0.2;
  background-position-x: 200px;
  animation-delay: 0.9s;
}
.wave#wave4 {
  z-index: 9;
  opacity: 0.7;
  background-position-x: 100px;
  animation-delay: 1.1s;
}

img.git-flag {
  position: absolute;
  height: auto;
  width: 100vw;
  bottom: 1vw;
  z-index: 8;
  animation: slideFlag 4s 0.1s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes slideFlag {
  0% {
    -webkit-transform: translate3d(15%, 0, 0) rotateZ(10deg);
    -moz-transform: translate3d(15%, 0, 0) rotateZ(10deg);
    transform: translate3d(15%, 0, 0) rotateZ(10deg);
  }

  100% {
    -webkit-transform: translate3d(-15%, 0, 0) rotateZ(-10deg);
    -moz-transform: translate3d(-15%, 0, 0) rotateZ(-10deg);
    transform: translate3d(-15%, 0, 0) rotateZ(-10deg);
  }
}

.taegeuk {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.taegeuk_in {
  width: 55px;
  object-fit: contain;
  animation: spin 5000ms infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

img.taegeuk_out {
  position: absolute;
  width: 200px;
  object-fit: contain;
}

img.cap {
  position: absolute;
  z-index: 1;
  animation: 1s ease-out 0s 1 slideInFromBottomToTop forwards;
  animation-delay: 15.5s;
  opacity: 0;
}

@keyframes slideInFromBottomToTop {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

img.cap1 {
  top: 5vh;
  width: 15vw;
  left: 15vw;
}

img.cap2 {
  bottom: 20vh;
  right: 0;
  width: 25vw;
  filter: blur(2px);
}

img.cap3 {
  top: 25vh;
  right: 5vw;
  width: 10vw;
}

img.cap4 {
  bottom: 5vw;
  width: 25vw;
  left: 0;
  filter: blur(3px);
}
img.cap5 {
  top: 5vw;
  right: 17vw;
  width: 18vw;
}

img.cloud {
  position: absolute;
  top: 0;
  animation: wave 3s ease-in-out infinite;
  z-index: 9;
}

img.cloud.cloud1 {
  width: 18vw;
  left: 100px;
  animation-delay: 1.1s;
  opacity: 0.6;
}

img.cloud.cloud2 {
  width: 18vw;
  filter: blur(0.5px);
  animation-delay: 2s;
  opacity: 0.5;
}

img.cloud.cloud3,
img.cloud.cloud4 {
  width: 18vw;
  top: 70%;
  animation-delay: 1s;
  opacity: 0.7;
}
img.cloud.cloud3 {
  animation-delay: 1.8s;
}

@media only screen and (max-width: 768px) {
  img.cloud.cloud3,
  img.cloud.cloud4 {
  top: 63%;
}
  img.git-flag {
    transform: scale(2);
    bottom: 6vw;
  }
  img.cap1 {
    width: 30vw;
    top: 20vh;
    left: 0;
  }
  img.cap2 {
    width: 40vw;
    bottom: 10vh;
  }
  img.cap3 {
    width: 40vw;
    top: 20vh;
  }
  img.cap4 {
    width: 40vw;
    bottom: 10vh;
  }
  img.cap5 {
    width: 30vw;
    visibility: hidden;
  }
  img.cloud.cloud1,
  img.cloud.cloud2,
  img.cloud.cloud3,
  img.cloud.cloud4 {
    width: 35vw;
  }
}

.bird {
  background-image: url(../img/Header/birds.svg);
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
  -webkit-animation-name: fly-cycle;
  animation-name: fly-cycle;
  -webkit-animation-timing-function: steps(10);
  animation-timing-function: steps(10);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.bird--one {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.bird--two {
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}
.bird--three {
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}
.bird--four {
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.bird-container {
  position: absolute;
  top: 20%;
  left: -10%;
  transform: scale(0) translateX(-10vw);
  will-change: transform;
  -webkit-animation-name: fly-right-one;
  animation-name: fly-right-one;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.bird-container--one {
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-delay: 0;
  animation-delay: 0;
}
.bird-container--two {
  -webkit-animation-duration: 16s;
  animation-duration: 16s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.bird-container--three {
  -webkit-animation-duration: 14.6s;
  animation-duration: 14.6s;
  -webkit-animation-delay: 9.5s;
  animation-delay: 9.5s;
}
.bird-container--four {
  -webkit-animation-duration: 16s;
  animation-duration: 16s;
  -webkit-animation-delay: 10.25s;
  animation-delay: 10.25s;
}

@-webkit-keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}

@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}
@-webkit-keyframes fly-right-one {
  0% {
    transform: scale(0.3) translateX(-10vw);
  }
  10% {
    transform: translateY(2vh) translateX(10vw) scale(0.4);
  }
  20% {
    transform: translateY(0vh) translateX(30vw) scale(0.5);
  }
  30% {
    transform: translateY(4vh) translateX(50vw) scale(0.6);
  }
  40% {
    transform: translateY(2vh) translateX(70vw) scale(0.6);
  }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.6);
  }
  60% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
}
@keyframes fly-right-one {
  0% {
    transform: scale(0.3) translateX(-10vw);
  }
  10% {
    transform: translateY(2vh) translateX(10vw) scale(0.4);
  }
  20% {
    transform: translateY(0vh) translateX(30vw) scale(0.5);
  }
  30% {
    transform: translateY(4vh) translateX(50vw) scale(0.6);
  }
  40% {
    transform: translateY(2vh) translateX(70vw) scale(0.6);
  }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.6);
  }
  60% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
}
@-webkit-keyframes fly-right-two {
  0% {
    transform: translateY(-2vh) translateX(-10vw) scale(0.5);
  }
  10% {
    transform: translateY(0vh) translateX(10vw) scale(0.4);
  }
  20% {
    transform: translateY(-4vh) translateX(30vw) scale(0.6);
  }
  30% {
    transform: translateY(1vh) translateX(50vw) scale(0.45);
  }
  40% {
    transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
  }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.45);
  }
  51% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
}
@keyframes fly-right-two {
  0% {
    transform: translateY(-2vh) translateX(-10vw) scale(0.5);
  }
  10% {
    transform: translateY(0vh) translateX(10vw) scale(0.4);
  }
  20% {
    transform: translateY(-4vh) translateX(30vw) scale(0.6);
  }
  30% {
    transform: translateY(1vh) translateX(50vw) scale(0.45);
  }
  40% {
    transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
  }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.45);
  }
  51% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
}

.mode{
  position: fixed;
  bottom: 30%;
  right: 0;
  height: 200px;
  width: 40px;
  background-color: transparent;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.mode .day,
.mode .mid-day,
.mode .Evening,
.mode .night{
  height: 50px;
  width: 120px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  transform: translateX(33%);
  margin-left: 5px;
  margin-top: 5px;
  display: flex;
  padding: 0 15px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.mode .day:hover,
.mode .mid-day:hover,
.mode .Evening:hover,
.mode .night:hover{
  cursor: pointer;
  transform: translateX(-30%);
}  

.mode .day{
  background-image: linear-gradient(to top, #F7D4A6 0%, #8FCCD8 100%);
  color: #fff5d5;
}
.mode .mid-day{
  background: radial-gradient(circle at 20% 50%, #88dbff, #7fd5fc, #76cff8, #6dc9f5, #63c3f2, #5abdee, #50b7eb, #45b1e8, #3aabe4, #2ea5e1, #1e9fdd, #0299da);
  color: #dbf4ff;
}
.mode .Evening{
  background: -webkit-radial-gradient(center bottom, circle cover, rgb(249, 249, 28) 3%, rgb(247, 214, 46) 8%, rgb(248, 200, 95) 12%, rgb(201, 165, 132) 30%, rgb(115, 130, 133) 51%, rgb(46, 97, 122) 85%, rgb(24, 75, 106) 100%);
  color: #f8f21f;
}
.mode .night{
  color: white;
  background-color: black;
}
